<!DOCTYPE html>
<html lang="EN">
	<body>
		<header>
            <div class="header d-flex align-items-center no-gutters justify-content-between bg-reddish">
                <div class="col-3 text-right">
                    <img id="title-left-img" th:src="@{/IMG/swing_circus_title.svg}" alt="Acrobatie">
                </div>
                <div class="col-6 white">
                    <h1 id="title">Wild Circus</h1>
                </div>
                <div class="col-3 text-left">
                    <img id="title-right-img" th:src="@{/IMG/swing_circus_title.svg}" alt="Acrobatie"> 
                </div>
            </div>
        </header>
    </body>
</html>