<!DOCTYPE html>
<html lang="EN">
	<body>
		<header>
            <div class="header d-flex align-items-center no-gutters justify-content-between mb-3">
                <div class="col-3 text-right">
                    <img id="title-left-img" src="https://svgsilh.com/svg/2128522.svg" alt="Acrobatie">
                </div>
                <div class="col-6">
                    <h1 id="title">Wild Circus</h1>
                </div>
                <div class="col-3 text-left">
                    <img id="title-right-img" src="https://svgsilh.com/svg/2128522.svg" alt="Acrobatie"> 
                </div>
            </div>
        </header>
    </body>
</html>