<!DOCTYPE html>
<html lang="EN">
    <body>
        <nav
            class="navbar navbar-expand-lg navbar-dark bg-reddish sticky-top mb-3"
            id="navbar"
        >
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn bg-reddish" th:href="@{/}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn bg-reddish" th:href="@{/bookings}">
                            Booking
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn bg-reddish" th:href="@{/performances}">
                            Performances
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn bg-reddish" th:href="@{/contact}">
                            Contact
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item align-self-right" sec:authorize="!isAnonymous()">
                        <a class="btn bg-reddish" th:href="@{/logout}">
                            Logout
                        </a>
                    </li>
                    <li class="nav-item align-self-right" sec:authorize="isAnonymous()">
                        <a 
                            type="button"
                            class="btn bg-reddish"
                            data-toggle="modal"
                            data-target="#loginModal"
                            data-backdrop=""
                        >
                            Login
                        </a>
                    </li>
                </ul>
            </div>
            <section
                class="modal fade"
                id="loginModal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content bg-black">
                        <header class="modal-header">
                            <h5 class="modal-title">Connexion</h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </header>
                        <form
                            name="form"
                            th:action="@{/login}"
                            method="POST"
                            class="form-group modal-body"
                        >
                            <div class="input-group mb-3">
                                <div class="input-group-prepend label-width">
                                    <label class="input-group-text flex-centered bg-black" for="mail">Mail</label>
                                </div>
                                <input
                                    type="text"
                                    class="form-control bg-grey"
                                    name="username"
                                    required
                                />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend label-width">
                                    <label class="input-group-text flex-centered bg-black" for="password">Password</label>
                                </div>
                                <input
                                    type="password"
                                    class="form-control bg-grey"
                                    name="password"
                                    required
                                />
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/register}" class="btn mr-auto reddish">I don't have an account !</a>
                                <button
                                    type="submit"
                                    class="btn bg-grey flex-centered"
                                >
                                    Sign up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </nav>
    </body>
</html>
