<!DOCTYPE html>
<html lang="EN">
    <div th:replace="fragments/head.html :: head"></div>
    <body>
        <div th:replace="fragments/header.html :: header"></div>
        <div th:replace="fragments/navbar.html :: nav"></div>
            <main class="container align-items-center justify-content-center">
            <div id="carouselExampleSlidesOnly" class="carousel slide mb-3 carousel-dimensions" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://c.pxhere.com/photos/11/5b/dance_prom_circus_light_woman_artist_lighting-947359.jpg!s"  alt="Image cirque 2">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://c.pxhere.com/photos/81/40/circus_arena_ring_manege_fun_show_entertainment_elephants-712485.jpg!d" alt="Image cirque 3">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://c.pxhere.com/photos/70/32/acrobats_circus_contortion_tihany-947365.jpg!d" alt="Image cirque 4">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://c.pxhere.com/images/3a/41/6367d3c4e0b2546df14a948b79a7-1453623.jpg!d" alt="Image cirque 5">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://c.pxhere.com/photos/26/54/photo-575537.jpg!d" alt="Image cirque 6">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://farm3.staticflickr.com/2090/1794910363_1146e08142_b.jpg"  alt="Image cirque 1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://c.pxhere.com/photos/7e/ac/circus_fire_entertainment_show_performance_event_performer-1169010.jpg!d" alt="Image cirque 7">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://c.pxhere.com/photos/4d/6d/circus_tihany_contortion-1237690.jpg!d" alt="Image cirque 8">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://c.pxhere.com/photos/ea/6f/gymnastics_acrobatics_artist_turnkunst_acrobats_artists-1323408.jpg!d" alt="Image cirque 9">
                    </div>
                </div>
            </div>
            <div class="reddish">
                <p>Have you ever heard of Mario and Luigi brothers ?<br> That's us !<br>
                You may be wondering how we ended up on a circus, let me tell you a story.<br><br>
    You see back in the day, I was busy running around, jumping through obstacles and facing all sort of creatures just to rescue someone, who for whatever reason kept getting kidnapped.<br><br>
    I felt like I was being scammed, so I decided to take my destiny in my own hands and run the show !<br><br>
    And so began the Wild Circus !<br><br>
    Come and witness the truly unique and exceptionnal experience we have to offer !
                </p>
            </div>
                

                
            </section>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>